:root {
  --primary-color: steelblue;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geist-sans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: var(--primary-color);
  margin-bottom: 40px;
  padding: 5px;
  color: white;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 10px;
}
